:root {
  box-sizing: border-box;
  font-size: 1em;
  --orange: #f26101;
  --white: #fff;
  --light: #d9e8f5;
  --mid: #91bed4;
  --dark: #304269;
  --font-main: "Roboto", sans-serif; /* 400 500 700 */
  --font-heading: "Tajawal", sans-serif; /* 700 900 */
  --box-shadow: 1px 1px 4px -1px hsl(0deg 0% 0% / 40%);
  --border-radius: 10px;
  --gradient: linear-gradient(135deg, #f26101 0%, #ffb576 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: var(--font-main);
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  border: 2px solid var(--dark);
}
h2 {
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 2.5rem;
}
svg {
  max-width: 20px;
}
img {
  width: 400px;
}
input[type="submit"] {
  background: linear-gradient(135deg, #f26101 0%, #ffb576 100%);
}
.container {
  padding: 0 2rem;
}
label,
input {
  font-weight: 500;
  font-size: 1.05rem;
  display: block;
  width: 100%;
}
.form-widgets {
  li {
    margin: 20px 0;
  }
  input {
    padding: 1rem 0.75rem;
    border-radius: var(--border-radius);
  }
  li:first-child {
    display: flex;
  }
  .name {
    flex: 0;
    flex-basis: 150px;

    input {
      border-radius: 10px 0 0 10px;
      border-right: 0;
    }
  }
  .email {
    flex: 1;
    input {
      border-radius: 0 10px 10px 0;
    }
  }
}
