:root {
  box-sizing: border-box;
  font-size: 1em;
  --orange: #f26101;
  --white: #fff;
  --light: #d9e8f5;
  --mid: #91bed4;
  --dark: #304269;
  --font-main: "Roboto", sans-serif; /* 400 500 700 */
  --font-heading: "Tajawal", sans-serif; /* 700 900 */
  --box-shadow: 1px 1px 4px -1px hsl(0deg 0% 0% / 40%);
  --border-radius: 10px;
  --gradient: linear-gradient(135deg, #f26101 0%, #ffb576 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: var(--font-main);
  transition: transform ease 0.3s, fill ease 0.3s, background-color ease 0.3s,
    color ease 0.3s, border ease 0.3s;
  fill: inherit;
}
body {
  background-color: var(--light);
}
li {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
input {
  border: 2px solid var(--mid);
}
h2 {
  font-family: var(--font-heading);
  font-weight: 900;
  font-size: 3rem;
}

img {
  width: 400px;
}

.container {
  padding: 0 2rem;
}
label,
input {
  font-weight: 500;
  font-size: 1.05rem;
  display: block;
  width: 100%;
}
.form-widgets {
  li {
    margin: 20px 0;
  }
  input {
    padding: 1rem 0.75rem;
    border-radius: var(--border-radius);
  }
  label {
    margin-bottom: 0.5rem;
  }
  label,
  input {
    font-size: 0.95rem;
  }
  li:first-child {
    display: flex;
  }
  .name {
    flex: 0 1 auto;
    flex-basis: 30%;

    input {
      border-radius: 10px 0 0 10px;
      border-right: 0;
    }
    input:focus {
      border-radius: 10px 0 0 10px;
      border: 2px solid;
    }
  }

  .email {
    flex: 1;
    input {
      border-radius: 0 10px 10px 0;
    }
  }
  input[type="submit"] {
    border: none;
    color: var(--white);
    background: linear-gradient(to right, #f26101 0%, #ffb576 100%);
  }
  input[type="submit"]:is(:hover, :focus) {
    transform: scale(0.975);
  }
}
form {
  width: 85%;
  margin: 8.5rem auto 0;
}
form > h2 {
  margin-bottom: 3rem;
}
.show-password {
  margin-top: 1rem;
  input,
  label {
    display: inline-block;
    width: initial;
    font-weight: 400;
  }
  input {
    position: relative;
    top: 1px;
    margin-right: 0.25rem;
  }
}
.continue-with {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-size: 0.9rem;
  color: var(--mid);
}
.continue-with::before {
  content: "";
  width: 10vw;
  margin-right: 10px;
  border-bottom: 3px var(--mid) solid;
}
.continue-with::after {
  content: "";
  width: 10vw;
  margin-left: 10px;
  border-bottom: 3px var(--mid) solid;
}
.social-login {
  fill: var(--mid);
  display: flex;
  gap: 1rem;
  margin: 1rem auto;
  li {
    flex-grow: 1;
  }
  a {
    display: block;
    flex-grow: 1;
    text-align: center;
    border-radius: var(--border-radius);
    border: 2px solid var(--mid);
    padding: 0.5rem;
  }
  a:is(:hover, :focus) {
    fill: var(--dark);
    border: 2px solid var(--dark);
    transform: scale(0.95);
  }
  svg {
    height: 1.5rem;
  }
}
.already {
  margin-top: 1.5rem;
  font-size: 0.95rem;
  font-weight: 500;
}
.already > a {
  font-weight: 700;
  color: var(--orange);
}
.bg-section {
  display: none;
}
